################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Book70483Samples/.vs/Book70483Samples/v15/Server/sqlite3
/Book70483Samples/Chapter4/obj/Debug
/Book70483Samples/Chapter5/obj/Debug
/Book70483Samples/Chapter6/obj/Debug
/Book70483Samples/Chapter7/obj/Debug
/Book70483Samples/.vs/config
/Book70483Samples/Chapter 2/obj/Release
/Book70483Samples/Chapter 3/obj
/Book70483Samples/Chapter10/obj
/Book70483Samples/Chapter10.Test/obj
/Book70483Samples/Chapter4/obj/Release
/Book70483Samples/Chapter 9/obj/Release
/Book70483Samples/Chapter 8/obj/Release
/Book70483Samples/Chapter5/obj/Release
/Book70483Samples/Chapter 1/obj/Release
