################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Book70483Samples/.vs/Book70483Samples/v15/Server/sqlite3
